<%= form_for @note, :html => { :class => "form-horizontal note" } do |f| %>

    <% if @note.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@note[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :note_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :note_id, :class => 'form-control' %>
    </div>
    <%= error_span(@note[:note_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :lat, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lat, :class => 'form-control' %>
    </div>
    <%= error_span(@note[:lat]) %>
  </div>
  <div class="control-group">
    <%= f.label :lng, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lng, :class => 'form-control' %>
    </div>
    <%= error_span(@note[:lng]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            notes_path, :class => 'btn btn-default' %>

<% end %>
