<!DOCTYPE html>
<html>
<head>
  <title>NoteMaps</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name='viewport' content="width=divice-width, initial-scale=1">
</head>
<body>

	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">水しるべ調査</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">調査軸を選択してください <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" id="a1">自然のすがた</a></li>
              <li><a href="#" id="a2">ゆたかな生き物</a></li>
              <li><a href="#" id="a3">水のきれいさ</a></li>
              <li><a href="#" id="a4">快適な水辺</a></li>
              <li><a href="#" id="a5">地域とのつながり</a></li>
              <li><a href="#" id="a6">総合平均</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


	<div class="container" id="aaa">
		<div id="main">
			<div id="map" style="float: left;">
				<p>マップ</p>
			</div>
			<div id="sidebar" style="float: right;">
				<div id="content">
          <p>項目:快適な水辺</p>
          <p>川やまわりの景色は美しいですか？</p>
          <p>ごみが目に付きますか？</p>
          <p>水にふれてみたいですか？</p>
          <p>どんなにおいを感じますか？</p>
          <p>どんな音が聞こえますか？</p>
        </div>
			</div>
		</div>
	</div>
<!-- <%= yield %> -->
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true" %>
<%= javascript_include_tag "radarchart-googlemaps.js" %>
</body>
</html>
